body{
    background-color: #070724;
    color: #ffffff;
    width: auto;
    height: 100vh;
    overflow: hidden;
   
}

.star-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    border-bottom: 1px solid #979797;
}

.navbar-link-container {
    margin: auto;
}

a:hover {
    cursor: grab;
}
.title {
    font-size:2rem;
    margin-left: 5px;
    margin: auto;
}

.navbar-link {
    font-size: 18px;    text-decoration: none;
  color: #ffffff;
  width: fit-content;
  padding-right: 5px;
}

main {
    position: relative;
    z-index: 7;
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    height: 900px;
    flex-wrap: wrap;
    
}

section {
    width: 45%;
    padding: 5px;
    height: max-content;
}

.planet-img-container {
    position: relative;
    margin: auto;
    width: 50%;
    display: flex;
    justify-content:center;
}

.planetImg {
    margin: auto;
    animation: fadein .7s ease-in-out;
   
}

#geologyImg.planetImg {
    width: 155px;
    height: 155px;
    position: absolute;
    top: 70%;
    right: 35%;
}

img {
    width: 155px;

}
#planetinternal {
    display: none;
}

#planetsurface {
    display: none;
}

.planet-info-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    margin-bottom: 100px;
    float:right;
}


@keyframes fadein {
    
    0% {opacity: 0;}
 
    100% {opicity: 1;}
} 

.planetFact {
    animation: fadein .7s ease-in-out;
}

h1 { 
    font-size: 80px;
    margin: unset;
    text-align: left;
}

p {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    line-height: 30px;
}

.source-p {
    font-weight: 100;
    color: #979797;
}

.source-link {
    color: #979797;
}

.source-container {
    display: flex;
    align-items: center;
}



.button-container {
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: space-around;
}

.planet-info-btn-mercury,.planet-info-btn-uranus,.planet-info-btn-mars,
.planet-info-btn-jupiter,.planet-info-btn-earth,.planet-info-btn-venus,
.planet-info-btn-saturn,.planet-info-btn-neptune {
    border: 1px solid #979797;
    background-color: transparent;
    color: #ffffff;
    height: 48px;
    margin-bottom:10px;
    font-weight:bold;
    text-align: left;
    width: 100%;
    font-size: 17px;
    margin-bottom: 10px;
}

.planet-info-btn-mercury:hover {
    background-color: #419EBB;
}

.planet-info-btn-earth:hover {
    background-color: #6d2ed5;
}

.planet-info-btn-venus:hover {
    background-color: #eda249;
}

.planet-info-btn-mars:hover {
    background-color: #d14c32;
}

.planet-info-btn-jupiter:hover {
    background-color: #d83a34;
}

.planet-info-btn-saturn:hover {
    background-color: #cd5120;
}

.planet-info-btn-uranus:hover {
    background-color: #1ec1a2;
}

.planet-info-btn-neptune:hover {
    background-color: #2d68f0;
}

.planet-data-container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-between;
    height: max-content;
    margin: auto;
}

.num-data {
    border: 1px solid #979797;
    height: 128px;
    width: 20%;
}

h6 {
    color: #979797;
    padding-left: 10px;
    font-size: 13px;
}

h2 { 
    padding-left: 10px;
    font-size: 1.6rem;
}

@media screen and (max-width: 768px) {

    body {
        overflow:auto;
    }
    nav {
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .title {
        text-align: center;
        margin-bottom: 20px;
    }

    main {
        flex-direction: column;
        display: block;
        margin: auto;
        height: 700px;
        
    }

    section {
        margin: auto;
        margin-top: 50px;
        width: 90%;
    }

    .planet-info-container {
        display: flex;
        flex-direction: row;
        margin: unset;
        width: 100%;
        margin-bottom: 50px;
    }

    .planet-text {
        float: left;
        width: 45%;
        margin: auto;
    }

    h1 {
        font-size: 48px;
        text-align: left;
    }

    p {
        font-size:15px ;
    }

    .button-container {
        width: 50%;
        margin: auto;
     
    }

    button {
        display: block;
        width: 100%;
        float: right;
        margin: auto;

    }

    .planet-data-container {
        width: 90%;

    }

    .num-data {
        padding-bottom: 10px;
        width: 23%;
        height:100px;
    }

    h6 {

    }

    h2 {
        font-size: 20px;
    }
}
    